<!DOCTYPE html>
<html lang="hu" layout:decorate="~{layouts/main}">

<head>
	<link rel="stylesheet" href="/css/authors.css">
</head>

<body>

	<div layout:fragment="aboveContent">
		<div sec:authorize="hasAuthority('ADMIN')">
			<a class="btn btn-outline-success" href="/authors/add-new">
				<i class="fas fa-plus"></i> Add new author
			</a>
		</div>
		<div class="d-flex justify-content-center">
			<form class="form-inline my-2 my-lg-0" th:action="@{/authors/search}" th:method="get">
				<input id="author-name-search" class="form-control mr-sm-2" name="authorName" th:value="${searchValue}" type="search" placeholder="Enter author name"
				 aria-label="Search">
				<button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i> Search
				</button>
				<a th:href="@{/authors}" class="btn btn-outline-danger m-2">
					<i class="fas fa-times-circle "></i>
				</a>
			</form>
		</div>
		<hr />

	</div>

	<div layout:fragment="cardHeader">
		<i class="fas fa-chalkboard-teacher"></i> Authors
	</div>

	<div layout:fragment="pageContent">

		<div class="card-deck">

			<div class="card border-success" th:each="author : ${authors}">
			
				<div class="card-body">
				
					<div class="row">
						<div class="col-sm-4">
							<img th:src="${author.photoUrl}" alt="Author Cover Photo" width="100%" />
						</div>
						<div class="col-sm-8">
							<h5 id="author-name" class="card-title" th:text="${author.name}">Author Name</h5>
							<hr />
							<h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(author.dateOfBirth, 'YYYY-MM-DD')}">
								Date of birth
							</h6>
							<h6 class="card-subtitle mb-2 text-muted">
								<span>Rating: </span>
								<span th:text="${author.rating}">Rating </span>
								<i class="fas fa-star"></i>
							</h6>
						</div>
					</div>
				
					<div class="row">
						<div class="col-12">
							<hr />
							<!-- Show only the first 100 characters of the author's biography -->
							<div th:if="${#strings.length(author.bio) <= 149}">
								<p class="card-text" th:text="${author.bio}">Short author description. </p>
							</div>
							<div th:if="${#strings.length(author.bio) > 149}">
								<p class="card-text">
									<span th:text="${#strings.substring(author.bio, 0, 149)}">Short author description.</span>
									<span>...</span>
								</p>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="card-footer">
					<a th:href="@{/authors/{authorId}(authorId=${author.id})}" class="card-link">
						<i class="fas fa-chevron-circle-right"></i> View details
					</a>
				</div>
			</div>

		</div>

	</div>

</body>

</html>