<!DOCTYPE html>
<html lang="hu" layout:decorate="~{layouts/main}">

<head>

</head>

<body>

	<div layout:fragment="cardHeader">
		<i class="fas fa-chalkboard-teacher"></i> Author Details
	</div>

	<div layout:fragment="pageContent">
		<div class="card border-success">
			<div class="card-body row">
				<div class="col-sm-4">
					<img th:src="${author.photoUrl}" alt="Author Cover Photo" width="100%" />
				</div>
				<div class="col-sm-8">
					<h5 id="author-name" class="card-title" th:text="${author.name}">Author Name</h5>
					<!-- <h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(author.dateOfBirth, 'YYYY-MM-DD')}">Date of -->
					<h6 class="card-subtitle mb-2 text-muted" th:text="${author.dateOfBirth}">Date of
						birth</h6>
					<p> Rating: 
						<span th:text="${author.rating}"></span>
					</p>
					<p class="card-text" th:text="${author.bio}">Short bio. </p>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="cardFooter">
		<a th:href="@{/authors}" class="card-link">
			<i class="fas fa-chevron-circle-left"></i> Back to authors
		</a>
	</div>

	<div layout:fragment="belowContent">
		<hr>

		<p>
			<button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#writtenBooksContainer" aria-expanded="false"
			 aria-controls="writtenBooksContainer">
				<i class="fas fa-swatchbook"></i> Show written books
			</button>
		</p>
		
		<div class="collapse" id="writtenBooksContainer">
			<div class="card card-body border-primary">
				<div th:each="writtenBook : ${author.writtenBooks}">
					<a class="card-link" th:href="@{/books/{bookId}(bookId = ${writtenBook.id})}">
						<i class="fas fa-bookmark"></i>
						<span th:text="${writtenBook.title}"></span>
					</a>
				</div>
			</div>
		</div>

	</div>

</body>

</html>