<!DOCTYPE html>
<html lang="hu"	layout:decorate="~{layouts/main}">
<head>

</head>
<body>

	<div layout:fragment="cardHeader">
  		<i class="fas fa-user-plus"></i> Add new author 
  	</div>

	<div layout:fragment="pageContent">
	
		<div class="card border-success">
			<div class="card-body">
				<form th:action="@{/authors/add-new}" th:method="post" th:object="${newAuthor}">

					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-user text-info"></i></div>
							</div>
							<input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Enter author's name" required>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-calendar-alt text-info"></i></div>
							</div>
							<input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}" placeholder="Enter author's birth date" required>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-link text-info"></i></div>
							</div>
							<input type="text" class="form-control" id="photoUrl" name="photoUrl" th:field="*{photoUrl}" placeholder="URL of author's photo" required>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-thumbs-up text-info"></i></div>
							</div>
							<input type="number" max="5" step="0.1" class="form-control" id="rating" name="rating" th:field="*{rating}" placeholder="Author rating: 1.0 to 5.0" required>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-align-left text-info"></i></div>
							</div>
							<textarea class="form-control" id="bio" name="bio" th:field=*{bio} placeholder="Write some lines about the author" required></textarea>
						</div>
					</div>

					<div class="text-center">
						<button id="save-author-button" type="submit" class="btn btn-outline-success py-2">
							<i class="fas fa-save"></i> Save author
						</button>
					</div>
					
				</form>
			</div>
		</div>

	</div>
	
	<div layout:fragment="cardFooter">
	</div>

</body>
</html>