<!DOCTYPE html>
<html lang="hu"	layout:decorate="~{layouts/main}">
<head>

</head>
<body>

	<div layout:fragment="cardHeader">
  		<i class="fas fa-user"></i> User info
  	</div>

	<div layout:fragment="pageContent">

		<div class="card border-secondary">
			<div class="card-body">
				<div class="row">
					<div class="col-3">
						<img th:src="${user.userInfo.avatarImg}" alt="avatar image" width="250px"/>
					</div>
					<div class="col-9">
						<h5 class="card-title">
							<span>Email: </span>
							<span th:text="${user.email}">email address</span>
						</h5>
						<h6 class="card-subtitle mb-2" th:if="${user.userInfo.fullName != null}">
							<span>Name: </span>
							<span th:text="${user.userInfo.fullName}">Name</span>
						</h6>
						<h6 class="card-subtitle mb-2">
							<span>Joined: </span>
							<span th:text="${#dates.format(user.userInfo.joined, 'yyyy.MM.dd')}">Name</span>
						</h6>
					</div>
				</div>
				
				<hr/>
				
			</div>
		</div>

	</div>
	
	<div layout:fragment="cardFooter">
		<a th:href="@{/users}" class="card-link">
			<i class="fas fa-chevron-circle-left"></i> Back to users
		</a>
	</div>

</body>
</html>