<!DOCTYPE html>
<html lang="hu"	layout:decorate="~{layouts/main}">
<head>

</head>
<body>

	<div layout:fragment="cardHeader">
  		<i class="fas fa-user"></i> 
  		<span sec:authentication="name"> Username </span>
  	</div>

	<div layout:fragment="pageContent">

		<div class="card border-secondary">
			<div class="card-body">
				<h5 class="card-title" th:text="${user.fullName}">User's full name</h5>
				<hr/>
				<h6 class="card-subtitle mb-2" th:text="${user.email}">email address</h6>
			</div>
		</div>

	</div>
	
	<div layout:fragment="cardFooter">
		<a th:href="@{/users}" class="card-link">
			<i class="fas fa-chevron-circle-left"></i> Back to users
		</a>
	</div>

</body>
</html>