<!DOCTYPE html>
<html lang="hu"	layout:decorate="~{layouts/main}">
<head>
	<link rel="stylesheet" href="/css/users.css">
</head>
<body>

	<div layout:fragment="aboveContent">

		<form th:action="@{/users/search}" th:method="get">
			<div class="row d-flex align-items-center">
			
				<div class="col-3 ">
					<div class="input-group my-2 my-lg-0">
					  <div class="input-group-prepend">
					    <label class="input-group-text" for="searchBySelect">Search by</label>
					  </div>
					  <select class="custom-select" id="searchBy" name="searchBy">
	<!-- 					    <option selected>Choose...</option> -->
					    <option value="email">Email</option>
					    <option value="username">Username</option>
					  </select>
					</div>
				</div>
				
				<div class="col-5">	
					<input class="form-control mr-sm-2" name="searchValue" th:value="${searchValue}" type="search" placeholder="Enter search value"
					 aria-label="Search">
				</div>
				
				<div class="col-4">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						<i class="fas fa-search"></i> Search
					</button>
					<a th:href="@{/users}" class="btn btn-outline-danger m-2">
						<i class="fas fa-times-circle "></i>
					</a>
				</div>
			
			</div>
		</form>
		<hr />

	</div>
	
	<div class="card-header">
	  	<div layout:fragment="cardHeader">
	  		<i class="fas fa-users"></i> Users
	  	</div>
	</div>

		
	<div layout:fragment="pageContent">

		<div class="card-deck">

			<div class="card border-secondary" th:each="user : ${users}">
				<div class="card-body">
				
					<div class="row">
						<div class="col-3">
							<img class="avatar-img" th:src="${user.userInfo.avatarImg}" alt="avatar image" width="50px" />
						</div>
						<div class="col-9">
							<h5 class="card-title">
								<span th:text="${user.email}">email address</span>
							</h5>
							<hr/>
							<h6 class="card-subtitle mb-2" th:if="${user.userInfo.fullName != null}">
								<span>Name: </span>
								<span th:text="${user.userInfo.fullName}">Name</span>
							</h6>
						</div>
					</div>

				</div>
				<div class="card-footer">
					<a th:href="@{/users/{userId}(userId=${user.id})}" class="card-link">
						<i class="fas fa-chevron-circle-right"></i> View details
					</a>
				</div>
			</div>

		</div>

	</div>

</body>
</html>