<!DOCTYPE html>
<html lang="hu" layout:decorate="~{layouts/main}">

<head>

</head>

<body>

	<div layout:fragment="cardHeader">
		<i class="fas fa-sign-in-alt"></i> Sign in
	</div>

	<div layout:fragment="pageContent">

		<!-- MESSAGES -->
		<div th:if="${param.logout}" class="alert alert-success">
			<h4 class="alert-heading">
			 	<i class="fas fa-check-circle"></i> Logout successful
			</h4>
			<p>You signed out successfully</p>
		</div>
		<div th:if="${param.registerSuccess}" class="alert alert-success">
			<h4 class="alert-heading">
			 	<i class="fas fa-check-circle"></i> Registration successful
			</h4>
			<p>Go ahead and Log In!</p>
		</div>
		<div th:if="${param.error}" class="alert alert-danger">
			<h4 class="alert-heading">
			 	<i class="fas fa-exclamation-circle"></i> Something went wrong
			</h4>
			<p>Check your username and password and try again.</p>
		</div>

		<div class="card border-info">
			<div class="card-body">
				<form th:action="@{/login}" th:method="post">

					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-envelope text-info"></i></div>
							</div>
							<input type="email" class="form-control" id="username" name="username" placeholder="example@gmail.com" required>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-key text-info"></i></div>
							</div>
							<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
						</div>
					</div>

					<div class="text-center">
						<button id="btn-login" type="submit" class="btn btn-info py-2">
							<i class="fas fa-sign-in-alt"></i> Sign in
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	
	<div layout:fragment="cardFooter">
		<a class="btn btn-link" href="/registration">
			<i class="fas fa-chevron-circle-right"></i> New user? Register here!
		</a>
	</div>

</body>

</html>