<!DOCTYPE html>
<html lang="hu" layout:decorate="~{layouts/main}">

<head>

</head>

<body>

	<div layout:fragment="cardHeader">
		<i class="fas fa-user-plus"></i> Registration
	</div>

	<div layout:fragment="pageContent">

		<!-- MESSAGES -->
		<div th:if="${param.logout}" class="alert alert-success">
			<h4 class="alert-heading">
			 	<i class="fas fa-check-circle"></i> Logout successfull
			</h4>
			<p>You signed out successfully</p>
		</div>
		<div th:if="${param.error}" class="alert alert-danger">
			<h4 class="alert-heading">
			 	<i class="fas fa-exclamation-circle"></i> Something went wrong
			</h4>
			<p>Check your username and password and try again.</p>
		</div>

		<div class="card border-info">
			<div class="card-body">
				<form th:action="@{/register}" th:method="post" th:object="${user}">

					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-envelope text-info"></i></div>
							</div>
							<input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Enter your email address" required>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-user text-info"></i></div>
							</div>
							<input type="text" class="form-control" id="fullName" name="fullName" th:field="*{fullName}" placeholder="Enter your name" required>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-key text-info"></i></div>
							</div>
							<input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="Enter password" required>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-key text-info"></i></div>
							</div>
							<input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat password" required>
						</div>
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-outline-success py-2">
							<i class="fas fa-user-plus"></i> Register
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>

</html>